/*General configs*/
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: clamp(1px 2px 3px);
}

 /* Bubbles container */
.bubble-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    z-index: 3;
    background: radial-gradient(circle, rgba(216, 13, 13, 0.1) 10%, rgba(138, 5, 5, 0) 80%);
    pointer-events: none;
}

/* Style of bubbles */
.bubble {
    position: absolute;
    border-radius: 50%;
    background-color: #ECBA66;
    opacity: 0.2;
    mix-blend-mode: overlay;
    animation: floatBubble linear infinite;
    z-index: 4;
}

/* Animation to move the bubbles */
@keyframes floatBubble {
    from {
        transform: translateY(100vh) scale(0.5);
        opacity: 0.1;
    }
    to {
        transform: translateY(-10vh) scale(1);
        opacity: 0;
    }
}

.icon:hover{
    background-color: #ecbb66c6;
    border-radius: 10px;
}


section{
    border-left: solid 1px #ecba66;
    border-right: solid 1px #ecba66; 
}
/*nav bar*/
header {
    background-color: #34353a;
    width: 100%;
    border-left: solid 1px #ecba66;
    border-right: solid 1px #ecba66;
}
/*Animation underline*/
.underline::after{
    content: "";
    height: 2px;
    width: 0;
    background-color: #ecba66;
    display: block;
    transition:700ms;

}
    .underline:hover::after{
        width: 100%;
    }

#BtnSearch{
    background-color: #ecba66;
    color: #000000;
    border: 1px solid #000000;
}

#BtnSearch:hover{
    background-color: #ecbb66af;
    color: white;
}
/*Resume me*/
.ResumeMe {
    background-color: #34353a;
}

.MyImg {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 270px;
    left: 40%;
    top: 2%;
    opacity: 0.7;
}

.MyImg img{
    position: absolute;
    width: 100%;
    height: 100%;
}


.ButtonResumeMe {
    text-decoration: none;
    color: #ecba66;
    padding: 5px;
    border-radius: 8px;
    border: solid 2px #ecba66;

}


.ButtonResumeMe:hover{
    background-color: #0000003c;
    color: white;
    transform: scale(1);
    transition-duration: 200ms;

    .ButtonResumeMe:hover{
    background-color: orange;
    color: #000000;

    }
}

/*InfoMe*/
.TextInfoMe{
    background-color: #34353a;
}

.ColorSpanInfoMe{
    color: #ecba66;
    font-size: normal;

}

.BtnSeeMore{
    color: #000000;
    text-decoration: none;
    padding: 5px;
    background-color:#ecba66;
    border-radius: 40px;
}

.BtnSeeMore:hover{
    background-color: orange;
    color: #000000;
}

.button{
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    width: fit-content;
    display: block;
    font-size: 16px;
    color: #aebdd5;
    position: relative;
    z-index: 10;
    filter: contrast(150%);
    padding: 5px;
}

.button a{
    position: absolute;
    left: 0;
    top: 8%;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;

}

.button a:hover{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: white;
    height: 100%;
    background-color: #ecba66;
    z-index: -1;
    transition: 1.5s;
    border-radius: 9px;

}

.button:hover .overlay{
    width: 100%;
    color: white;
}


/*MySkills*/
.MySkills{
    background-color: #34353a;
}

.BoxStylesSkills{
    background-color: #3d3e42;
    border-radius: 10px;
    padding: 10px;
}

/* Description Box (Initially Hidden) */
.skill-description {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
}

/*My projects*/
.MyProjects{
    background-color: #34353a;
    position: relative;

}

.Poject{
    position: relative;
    border:solid #ecba66;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    height: 400px;
    max-height: 600px;
    grid-row: 1;
}


.Poject2{
    position: relative;
    border:solid #ecba66;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    height: 400px;
    max-height: 600px;
    grid-row: 1;
}

.TextProject{
    display: none;
}

.imgProjects{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.Poject:hover{
    .BackInfoInstaP{
        position: absolute;
        background-color: #0000008e;
        left: 0%;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10px;
}
    .TextProject{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 5%;
        top: 30%;
        width:90%;
        height: 40%;
        background-color: #ecba66;
        border-radius: 50px 30px 82px 30px;
        z-index: 1;

}

}

.Poject2:hover{
    .BackInfoInstaP{
        position: absolute;
        background-color: #0000008e;
        left: 0%;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10px;
}
    .TextProject{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 5%;
        top: 30%;
        width:90%;
        height: 40%;
        background-color: #ecba66;
        border-radius: 50px 30px 82px 30px;
        z-index: 1;

}

}

.ButtonsProjects{
    text-decoration: none;
    color: #000000;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: solid 2px #000000;
    background-color: #34353aae;
}

.ButtonsProjects:hover{
    background-color: #000000;
    color: white;
}

#ButtonViewMoreP{
    background-color: #ecba66;
    padding: 10px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    color:black;
    text-decoration: none;
    align-self: center;

}

#ButtonViewMoreP:hover{
    background-color: #0000008e;
    color: white;
}

.SpotifyP{
    grid-row: 1;
    grid-column: 2;
}


/*My Experience*/

.MyExperience{
    background-color: #34353a;
    position: relative;
}

.MyExperience h2{
    position: absolute;

}

.ContentExperience{
    background-color: #3d3e42;
    border-radius: 10px;

}

.CircleExp{
    width: 25px;
    height: 25px;
    background-color: #ecba66;
    clip-path: circle(50%);
    box-shadow: 100px 100px 100px #4f9;
}

.year{
    position: absolute;
    background-color: gray;
    border-radius: 10px 50px 50px 10px;
    color: white;
    padding: 3px;
    left: -45px;

}

.AjustHr{
    color: white;
    background-color: white;
    transform: rotate(90deg);
    padding: 0;
    margin-top: 19px;
    width: 25px;
}

/*Contact me*/
footer{
    background-color:#34353a;
    border-left:solid 1px #ecba66;
    border-right:solid 1px #ecba66;
    border-bottom:solid 1px #ecba66;
}

.MainContactMe{
    background-color:#3d3e42;

    border-top:solid 1px #ecba66;
    border-bottom:solid 1px #ecba66;
}

@media (width < 992px){
    /*put the project one above the other*/
    .Poject2{
        grid-row: 2;
        grid-column: 1;
    }

    /*move the image of me*/
    .MyImg{
        width: 350px;
        height: 200px;
    }
}

@media (width < 768px){
    .MyImg{
        position: block;
        width: 250px;
        height: 240px;
    }

}

@media (width < 524px){
    .MyImg{
        display: none;
    }
}

@media (width < 465px){
        .TextProject{
            font-size: 15px;
        }
}
